
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  }
  body{
    width: 1200px;
    margin: auto;
      background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    height: auto; 
    width: 100%;
    margin-top: 50px;
  }
  nav ul{
    padding: 50px;
    display: inline-block;
    position: relative;
    right: 33%;
  }
  nav ul a{
    padding: 50px;
    color: black;
    text-decoration: none;
  }
   img{
    padding:10px;
    width: 100px;
    height: 80px;
  }
  main{
    background-color: white;
    height: 100%;
  }
  h1{
    margin-top: 100px;
    text-align: center;
    font-size: 100px;
  }
  table{
    margin-left: 30%;
    margin-top: 40px;
    width: 40%;
    height: 60%;
    right: 50%;

  }
  td{
    padding-left: 10px;
    font-size: 20px;
  }
  th{
    padding: 10px;
    font-size: 20px;
  }
  
  
   table, th, td {
      border: 1px solid rgb(18, 16, 16);
      border-collapse: collapse;
      
    }
  #box{
    background-color: rgb(54, 255, 4);
  }
  #box1{
  background-color: red;
  }
  #box2{
    background-color: red;
  }
  #box3{
    background-color: red;
  }

  .footer{
    margin-bottom: 50px;
    background: rgb(255, 255, 255);
    height: auto; 
    width: 100%;
  }
p{
  text-align: center;
  padding: 50px 50px 40px;

}